.match_list_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;  
    background: rgb(255, 255, 255);
    border: solid var(--primary) 3px;
    border-radius: 7px;
    font-size: 20px;
}
.match_list_header_colum {
    padding: 10px 0px;
}
.match_list_header * {
    width: 100%;
    text-align: center;
    align-items: center;
}
.match_list_header_center {
    display: flex;
}
@media (max-width: 600px) {
    .match_list_header {
        border: solid var(--primary) 2px;
        border-radius: 3px;
        font-size: 10px;
    }
}