.team_list_header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: rgb(255, 255, 255);
    border: solid var(--primary) 3px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 20px;
}
@media (max-width: 600px) {
    .team_list_header {
        border: solid var(--primary) 2px;
        border-radius: 5px;
        font-size: 16px;
    }
}