.form {
    margin: 2% 20%;
}
.form_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_buttons button{
    padding: 10px 20px;
    border: solid black 3px;
    border-radius: 7px;
    font-size: 22px;
    font-weight: bold;
    background-color:  var(--primary);
    color: white;
    margin: 5%;
}
.form_buttons button:hover{
    border-radius: 8px;
    border: solid black 4px;
    color: black;
}
